BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtEOF: true
